<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="monprofil/id"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button
        color="primary"
        *ngIf="userPays && userProfession"
        (click)="enregistrer()"
      >
        Enregistrer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <!--
      <div class="div--photo">
      <div class="photo" *ngIf="!photoURL">
        <img src="../../../assets/img/user.png" style="width: 100%;" />
      </div>
      <div
        [ngStyle]="{'background-image': 'url('+ photoURL +')'}"
        class="photo"
        *ngIf="photoURL"
      ></div>
      <div class="photo moins" (click)="photo()">
        <small>
          Appuyer ici pour modifier
        </small>
      </div>

      <div *ngIf="utilisateur" style="margin-top: 20px; text-align: center;">
        <b style="font-size: 1.2em;">
          {{utilisateur.displayName ? utilisateur.displayName : displayName ?
          displayName : 'Nom d\'utilisateur'}}
        </b>
        <br />
        <small *ngIf="utilisateur" style="color: #777;">
          {{utilisateur.email}}
        </small>
      </div>
    </div>
    -->
    <div class="div--informations">
      <div style="margin-left: 5vw; margin-right: 5vw;">
        <!--
          <input
          [(ngModel)]="displayName"
          type="text"
          placeholder="Nom d'utilisateur"
        />
        <div>
          <small>Ce nom sera visible par tous les utilisateurs</small>
        </div>
        -->

        <ion-select
          [value]="profil ? profil.continent : ''"
          (ionChange)="chooseContinent($event)"
          interface="popover"
          placeholder="Continent de residence"
        >
          <ion-select-option *ngFor="let c of continents" [value]="c.name">
            {{ c.name }}
          </ion-select-option>
        </ion-select>
        <ion-select
          [value]="profil ? profil.pays : ''"
          (ionChange)="chooseCountry($event)"
          interface="popover"
          placeholder="Pays de residence"
        >
          <ion-select-option *ngFor="let p of pays" [value]="p.name">
            {{ p.name }}
          </ion-select-option>
        </ion-select>
        <ion-select
          [value]="profil ? profil.ville : ''"
          (ionChange)="chooseVille($event)"
          interface="popover"
          placeholder="Votre ville"
        >
          <ion-select-option *ngFor="let v of villes" [value]="v.nom"
            >{{ v.nom | titlecase}}</ion-select-option
          >
        </ion-select>
        <ion-select
          [value]="profil ? profil.profession : ''"
          (ionChange)="chooseProfession($event)"
          interface="popover"
          placeholder="Profession "
        >
          <ion-select-option *ngFor="let pro of listProfesion" [value]="pro.nom"
            >{{ pro.nom | titlecase }}</ion-select-option
          >
        </ion-select>
      </div>
    </div>
  </div>
  <ion-list>
    <ion-list-header>
      Vos Paramétres
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img
          [src]="
              utilisateur
                ? utilisateur.photoURL
                : '../../../assets/img/user.png'
            "
        />
      </ion-avatar>
      <ion-label>
        <h2>Photo de profile</h2>
        <h3>
          {{utilisateur.displayName ? utilisateur.displayName : displayName ?
          displayName : 'Nom d\'utilisateur'}}
        </h3>
        <p (click)="photo()">
          Appuyer ici pour modifier
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="pencil-outline"></ion-icon>
      <ion-label position="floating">
        <h2>Nom utilisateur</h2>
        <p>
          {{utilisateur.displayName ? utilisateur.displayName : displayName ?
          displayName : 'Nom d\'utilisateur'}}
        </p>
      </ion-label>
      <ion-input [(ngModel)]="displayName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-label position="floating">
        <h2>Telephone</h2>
        <p>
          pour vous aider a vous tenir informé et a garder le controle de vos
          données
        </p>
      </ion-label>
      <ion-input [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<!--
 
-->
