.div--photo {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5vh;
  padding-top: 5vh;

  .photo {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 40vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    &.moins {
      margin-top: -40vw;
      height: 40vw;
      padding: 20px;
      padding-top: 15vw;
      text-align: center;
    }
  }
}
h2 {
  font-weight: bold;
}
