<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="utilisateur">
  <ng-container *ngFor="let publication of all">
    <ng-container *ngIf="publication.texte">
      <app-publication-item [publication]="publication" [utilisateur]="utilisateur"> </app-publication-item>
    </ng-container>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="nouveau()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
