<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">ôssu</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" [hidden]="jeScrool">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="utilisateur" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-slides [options]="sliderConfig" pager="true" #one>
    <ion-slide *ngIf="!phoneNumber">
      <div style="background-color: rgba(0, 255, 0, 0.1); padding-bottom: 80px; height: 50vh; overflow: hidden;">
        <div style="padding: 10px; text-align: right; color: #444;">
          <span style="padding: 10px;">
            <ion-icon name="close"></ion-icon>
          </span>
        </div>
        <div style="background: none!important;">
          <div style="font-size: 2.0em;">
            <ion-icon class="myicon" slot="start" name="call-outline"></ion-icon>
          </div>
          <div>
            <h2 style="font-size: 1.2em; padding-left: 15%; padding-right: 15%;">
              <b style="color: #111;">
                Ajouter votre numéro de téléphone
              </b>
            </h2>
            <div style="padding-left: 5%; padding-right: 5%;">
              <p>
                {{utilisateur.displayName}} ! Ajoutez un numéro de téléphone et
                bénéficier de nombreux avantages offertes sur la plateforme
              </p>
            </div>
          </div>
        </div>
        <div>
          <ion-button fill="clear" expand="full" (click)="goToProfile()">
            Ajouter mon numéro
          </ion-button>
        </div>

      </div>
    </ion-slide>
    <ion-slide class="slider" *ngIf="!photoURL">
      <div>
        <div lines="none">
          <div>
            <ion-icon class="myicon" slot="start" name="camera-outline"></ion-icon>
          </div>
          <div class="ion-text-wrap">
            <h3>
              Ajouter une photo de profil pour obtenir plus de vues de profil
            </h3>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="slider" *ngIf="!userProgram">
      <div style="background-color: rgba(0, 255, 0, 0.1); padding-bottom: 80px; height: 50vh; overflow: hidden;">
        <div style="padding: 10px; text-align: right; color: #444;">
          <span style="padding: 10px;">
            <ion-icon name="close"></ion-icon>
          </span>
        </div>
        <div>
          <div style="font-size: 2.0em;">
            <ion-icon class="myicon" slot="start" name="document-text-outline"></ion-icon>
          </div>
          <h2 style="font-size: 1.2em; padding-left: 15%; padding-right: 15%;">
            <b style="color: #111;">
              Assistance Ekang
            </b>
          </h2>
          <div style="padding-left: 5%; padding-right: 5%;">
            <p>
              Obtenez une bourse d'étude, un financement pour votre projet,
              ...etc en vous inscrivant au programme d'assistance ekang
            </p>
          </div>
        </div>
        <ion-button fill="clear" expand="full" (click)="goToProgramme()">Inscrivez vous</ion-button>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="divcontent" *ngIf="all">
    <ng-container class="firstContainer" *ngFor="let publication of all">
      <ng-container *ngIf="publication.texte">
        <app-publication-item [montrerLeDernierCommentaire]="true" [publication]="publication"
          [utilisateur]="utilisateur">
        </app-publication-item>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="!pubs">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>

    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="nouveau()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>