<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>photo de profil</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="file" (click)="save()">
        save
        <ion-icon slot="end" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="photo">
    <img [src]="photoURL" style="width: 100%;" />
  </div>

  <div style="position: fixed; bottom: 0; left: 0; width: 100%;">
    <button (click)="galerie()" class="bg-primaire">
      Galerie
    </button>
  </div>
  <input
    id="uploadBtn"
    type="file"
    class="upload"
    (change)="uploadFile($event)"
    class="filebtn"
    #fileButton
  />
</ion-content>
