<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="muanza-card">
    <textarea rows="6" cols="100" [innerHTML]="urlify(publication.texte)">
    </textarea>
    <div *ngIf="!publication.le_type">
      <img
        class="imageRadius"
        style="width: 100%;"
        *ngIf="publication.cover"
        [src]="publication.cover"
      />
    </div>
    <div class="video" *ngIf="publication.le_type">
      <video id="video-style" controls #videoPlayer height="200" width="100%">
        <source [src]="publication.cover" type="video/mp4" />
        Browser not supported
      </video>
    </div>
  </div>
</ion-content>
