<ion-header *ngIf="profil">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <div style="padding: 8px;" slot="end">
        <img style="height: 45px; width: 45px; border-radius: 50%;" [src]="profil.utilisateur.photoURL ? profil.utilisateur.photoURL: '../../../assets/img/user.png'" alt="" />
      </div>
    </ion-buttons>
    <ion-title>
      {{ profil.utilisateur.displayName ? profil.utilisateur.displayName:
      'inconnu'}}<br />
      <div class="status">En ligne</div>
    </ion-title>
    
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--
  <ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-grid *ngIf="messages">
    <div *ngFor="let message of messagesChat">
      <div *ngIf="message.senderID != senderId" class="message other-message">
        <span>
          {{ message.texte }}
          <small *ngIf="message.date">
            {{ resolveDate(message.date) | date: 'HH:mm'}}
          </small>
        </span>
      </div>
      <div offset="3" size="9" *ngIf="message.senderID == senderId" class="message my-message">
        <span>
          {{ message.texte }}
          <small *ngIf="message.date">
            {{ resolveDate(message.date) | date: 'HH:mm'}}
          </small>
        </span>
      </div>
    </div>
  </ion-grid>

  <!--
    <div class="stream" *ngIf="messages">
    <ion-item lines="none" *ngFor="let message of messagesChat">
      <ion-badge
        class="line-breaker right-bubble"
        text-wrap
        slot="start"
        color="light"
        *ngIf="message.senderID != senderId"
        >{{ message.texte }}</ion-badge
      >
      <ion-badge
        class="line-breaker left-bubble"
        text-wrap
        slot="end"
        color="primary"
        *ngIf="message.senderID == senderId"
        >{{ message.texte }}</ion-badge
      >
    </ion-item>
    
  </div>
    <ion-footer no-border>
    <div class="input-wrap">
      <textarea
        #messageInput
        placeholder="Enter your message!"
        [(ngModel)]="messageText"
        (keyup.enter)="sendMessage()"
      >
      </textarea>

      <button ion-button clear icon-only item-right (click)="sendMessage()">
        SEND
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>
  </ion-footer>
 -->
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <ion-textarea class="msg-input" rows="1" autosize maxRows="3" [(ngModel)]="messageText" (keyup.enter)="sendMessage()">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <div style="margin-top: 12px;">
          <ion-button expand="block" fill="clear" color="primary" [disabled]="messageText === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>