.status {
  color: grey;
  font-weight: 400;
  font-size: 13px;
  margin-top: -2px;
}
ion-header ion-avatar {
  padding: 3px;
}

ion-content {
  position: relative;
}
.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  // background-image: url("../../assets/bg.png");
  // background-size: cover;
}

ion-item {
  --background: transparent;
}
.message {
  margin-bottom: 4px;
}

@keyframes message {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes message2 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.other-message {
  span {
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #eee;
    color: #000;
    line-height: 1.5;
    display: inline-block;
    max-width: 80%;
    font-size: 0.9em;
  }
  small {
    padding-left: 20px;
    float: right;
    color: #444;
    font-size: 100;
  }
}
.my-message {
  text-align: right;
  span {
    display: inline-block;
    max-width: 80%;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
    background: var(--ion-color-primary);
    color: #fff;
    font-size: 0.9em;
  }
  small {
    padding-left: 20px;
    float: right;
    color: #eee;
    font-size: 100;
  }
}
.msg-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}
ion-item ion-note {
  font-size: 10px;
  margin-left: 8px;
}
ion-item ion-note ion-icon {
  font-size: 20px;
  margin-bottom: -6px;
  margin-left: -2px;
}

ion-footer ion-toolbar {
}

ion-footer {
  &.header-md:before {
    background: none;
  }
}
ion-footer ion-button {
  font-weight: 600;
}
ion-input {
  background: white !important;
  height: 31px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 4px;
  border: 1px #dfdfdf solid;
  --padding-start: 8px;
}
.flex_box {
  display: flex;
  justify-content: space-between;
}

.division {
  margin-top: 10px;
  margin-bottom: 5px;
  .ligne {
    height: 10px;
    border-bottom: 0px solid #bbb;
  }
  .texte {
    text-align: center;
    margin-top: -15px;
    span {
      padding: 7px;
      padding-left: 13px;
      padding-right: 13px;
      font-size: 20px;
      color: #bbb;
      background-color: #fff;
    }
  }
}

ion-button {
  --border-radius: 50%;
  --border-width: 50px;
  height: 50px;
}

.button.muanza {
  vertical-align: middle;
  width: 42px;
  height: 42px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  color: white;
  padding-left: 7px;
  padding-top: 2px;
  &:disabled {
    opacity: 0.6;
  }
}

textarea {
  height: 40px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid #444;
  border-radius: 100px;
  outline: none;

}
​textarea:focus { 
  outline: none; 
  border: 1px solid #0f9b0f;
}
