<ion-header *ngIf="profil">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <div style="padding: 8px; padding-right: 0px; display: inline-block; width: 60px;" slot="start">
      <img style="height: 40px; width: 40px; border-radius: 50%;"
        [src]="profil.utilisateur.photoURL ? profil.utilisateur.photoURL: '../../../assets/img/user.png'" alt="" />
    </div>
    <ion-title>
      <div style="display: inline-block;">
        {{ profil.utilisateur.displayName ? profil.utilisateur.displayName:'inconnu'}}
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="messages">
    <ng-container *ngFor="let messagesDate of messageGroupe(messages)">
      <div class="division">
        <div class="ligne"></div>
        <div class="texte">
          <span>
            {{messagesDate.date === aujourdhui ? "Aujourd'hui" : messagesDate.date}}
          </span>
        </div>
      </div>
      <div *ngFor="let message of messagesDate.messages">
        <div *ngIf="message.emetteurID != senderId" class="message other-message">
          <span>
            {{ message.texte }}
            <small *ngIf="message.date">
              {{ resolveDate(message.date) | date: 'HH:mm'}}
            </small>
          </span>
        </div>
        <div (click)="presentActionSheet(message)" offset="3" size="9" *ngIf="message.emetteurID === senderId"
          class="message my-message">
          <span>
            {{ message.texte }}
            <small *ngIf="message.date">
              {{ resolveDate(message.date) | date: 'HH:mm'}}
            </small>
          </span>
        </div>
      </div>
    </ng-container>
  </ion-grid>
  <div style="height: 200px;">

  </div>
</ion-content>

<div style="position: absolute; bottom: 0; width: 100vw; left: 0; background-color: #fff;">
  <div>
    <div style="vertical-align: top; display: inline-block; width: 80%; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
      <textarea placeholder="Ecrivez votre message ici..." [(ngModel)]="messageText" (keyup.enter)="envoyerMessage()"></textarea>
    </div>
    <div style="vertical-align: top; display: inline-block; width: 20%; text-align: center;">
        <button class="button muanza" [disabled]="!messageText" (click)="envoyerMessage()">
          <ion-icon name="send"></ion-icon>
        </button>
    </div>
  </div>
</div>