<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>

    <ng-container *ngFor="let notification of notifications">
      <ion-item>
        <ion-avatar slot="start">
          <img class="image-muanza"
            [src]="notification.profil.utilisateur.photoURL ? notification.profil.utilisateur.photoURL: '../../../assets/img/user.png'">
        </ion-avatar>
        <!--MISE A JOUR DU PROFIL -->
        <ion-label class="ion-text-wrap" *ngIf="notification.type === 'UPDATE_PROFIL'">
          <b color="primary">
            {{notification.profil.utilisateur.displayName}}
          </b>
          a mis à jour son profil
          <div class="date">
            <small>
              le
              {{notification.date | date: 'dd-MM-yyyy'}}
              à
              {{notification.date | date: 'HH:mm'}}
            </small>
          </div>
        </ion-label>

        <!-- PUBLICATION -->
        <ion-label class="ion-text-wrap" *ngIf="notification.type === 'PUBLICATION'">
          <b ion-text color="primary">
            {{notification.profil.utilisateur.displayName}}
          </b>
          vient de faire une publication :
          <i *ngIf="notification.publication">
            "{{notification.publication.texte}}"
          </i>
          <div class="date">
            <small>
              le
              {{notification.date | date: 'dd-MM-yyyy'}}
              à
              {{notification.date | date: 'HH:mm'}}
            </small>
          </div>
        </ion-label>


        <!-- COMMENTAIRE -->
        <ion-label class="ion-text-wrap" *ngIf="notification.type === 'COMMENTAIRE'">
          <b ion-text color="primary">
            {{notification.profil.utilisateur.displayName}}
          </b>
          a commenté la publication de
          <b *ngIf="notification.publication">
            {{notification.publication.utilisateur.displayName}}
          </b>
          <span *ngIf="notification.texte">
            :
            <i>
              "{{notification.texte}}"
            </i>
          </span>
          <div class="date">
            <small>
              le
              {{notification.date | date: 'dd-MM-yyyy'}}
              à
              {{notification.date | date: 'HH:mm'}}
            </small>
          </div>
        </ion-label>



        <ion-thumbnail *ngIf="notification.publication && notification.publication.cover" slot="end">
          <img [src]="notification.publication.cover">
        </ion-thumbnail>

      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>