
.tweet ion-label {
    line-height: 1 !important;
    font-size: 15px;
    margin: 6px 0px 6px 0px !important;
    min-height: 34px;
  }
  
  .tweet {
    margin-top: -10px !important;
  }
  
  .tweet-img {
    border-radius: 10px;
    width: 95%;
    margin-left: 2.5%;
  }
  
  .menu {
    position: absolute;
    z-index: 2;
  }
  