
.tweet ion-label {
    line-height: 1 !important;
    font-size: 15px;
    margin: 6px 0px 6px 0px !important;
    min-height: 34px;
  }
  
  .tweet {
    margin-top: -10px !important;
  }
  
  .tweet-img {
    border-radius: 10px;
    width: 95%;
    margin-left: 2.5%;
  }
  
  .menu {
    position: absolute;
    z-index: 2;
  }

  .muanza-card {
    padding-left: 0vw;
    padding-right: 0vw;
    padding-top: 1vh;
    padding-bottom: 0vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fefffe;
  }

  ion-item {
    --background: rgba(var(--ion-color-primary-rgb), 0.0);
  }
  