<div class="muanza-card" *ngIf="isShown">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img style="border: 2px solid #0f9b0f; padding: 2px"
        [src]="
          publication.utilisateur
            ? publication.utilisateur.photoURL
            : '../../../assets/img/user.png'
        "
      />
    </ion-avatar>
    <div>
      <span (click)="voirAmi()">
        {{
          publication.utilisateur
            ? publication.utilisateur.displayName
            : "Aucun utilisateur"
        }}
      </span>
      <div *ngIf="publication.profil" style="margin-top: -7px; color: #444;">
        <small>
          {{ publication.profil ? publication.profil.ville : "" }},
          {{ publication.profil ? publication.profil.pays : "" }}
        </small>
      </div>
    </div>
    <p slot="end" style="margin-top: -3px;">
      <small>
        {{ getLibelleDate(publication.date) }}
      </small>
    </p>
    <ion-icon
    color="primary"
      slot="end"
      name="ellipsis-vertical-outline"
      (click)="presentActionSheet()"
      *ngIf="auteur"
    ></ion-icon>
  </ion-item>
  <div (click)="ouvrirPublication()" class="ubuntu" style="margin: 15px; font-size: 1.2em; font-weight: 50; margin-top: 10px; line-height: 1.15;">
    <small style="color: #222;" [innerHTML]="urlify(publication.texte)"></small>
  </div>
  <div *ngIf="!publication.le_type">
    <img
      class="imageRadius"
      style="width: 100%;"
      *ngIf="publication.cover"
      [src]="publication.cover"
    />
  </div>
  <div class="video" *ngIf="publication.le_type">
    <video
      id="video-style"
      controls
      #videoPlayer
      height="200"
      width="100%"
      (click)="toggleVideo()"
    >
      <source [src]="publication.cover" type="video/mp4" />
      Browser not supported
    </video>
  </div>
  <!--
  
  -->

  <div style="margin-top: 0px; font-size: 1.2em; border-top: 1px solid #eee;">
    <div class="lesBoutons">
      <ion-button
        size="large"
        color="danger"
        *ngIf="jaiLike"
        fill="clear"
        (click)="unlike()"
      >
        <ion-icon slot="start" name="heart"></ion-icon>
        
        <span style="margin-left: 10px;">
          {{ publication.likes }}
        </span>
      </ion-button>
      <ion-button
        size="large"
        color="medium"
        *ngIf="!jaiLike"
        fill="clear"
        (click)="like()"
      >
        <ion-icon slot="start" name="heart-outline"></ion-icon>

        <span style="margin-left: 10px;">
          {{ publication.likes }}
        </span>
      </ion-button>
      <ion-button
        size="large"
        color="medium"
        fill="clear"
        (click)="ouvrirPublication()"
      >
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>

        <span style="margin-left: 20px;">
          {{ publication.commentaires ? publication.commentaires.length : 0 }}
        </span>

      </ion-button>
      <ion-button
        style=""
        size="large"
        color="medium"
        fill="clear"
        (click)="ouvrirPublication()"
      >
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <!-- COMMENTAIRES -->
  <div
    *ngIf="commentaire && montrerLeDernierCommentaire"
    style="background-color: #eee; height: 1px;"
  ></div>
  <ion-item
    class="commentaire"
    lines="none"
    *ngIf="commentaire && montrerLeDernierCommentaire"
    (click)="ouvrirPublication()"
  >
    <ion-avatar slot="start">
      <img
        style="padding: 7px"
        class="image-muanza"
        [src]="
          commentaire.utilisateur.photoURL
            ? commentaire.utilisateur.photoURL
            : '../../../assets/img/user.png'
        "
      />
    </ion-avatar>

    <ion-label text-wrap>
      <span>
        {{
          commentaire.utilisateur
            ? commentaire.utilisateur.displayName
            : "Aucun
          utilisateur"
        }}
      </span>
      <div style="line-height: 1; color: #444; margin-top: -3px;">
        <small>
          {{ commentaire.texte }}
        </small>
      </div>
    </ion-label>
    <div slot="end">
      <small style="margin-top: -5px; vertical-align: top;">
        {{ getLibelleDate(commentaire.date) }}
      </small>
    </div>
  </ion-item>
</div>

<!--
   &nbsp;
        {{ publication.commentaires ? publication.commentaires.length : 0 }}
-->
