<div class="muanza-card">
  <ion-item (click)="voirAmi()" lines="none">
    <ion-avatar slot="start">
      <img [src]="publication.utilisateur ? publication.utilisateur.photoURL :'../../../assets/img/user.png'" />
    </ion-avatar>
    <div>
      <span>
        {{publication.utilisateur ? publication.utilisateur.displayName : 'Aucun utilisateur'}}
      </span>
      <div *ngIf="publication.profil" style="margin-top: -5px; color: #aaa;">
        <small>
          {{publication.profil ? publication.profil.ville : ''}},
          {{publication.profil ? publication.profil.pays : ''}}
        </small>
      </div>
    </div>
    <p slot="end" style="margin-top: -3px;">
      <small>
        {{getLibelleDate(publication.date)}}
      </small>
    </p>
  </ion-item>
  <div (click)="ouvrirPublication()">
    <div style="margin: 15px; margin-top: 10px; color: #111; font-size: 1.2em;" [innerHTML]="urlify(publication.texte)">

    </div>
  </div>
  <img style="width: 100%;" *ngIf="publication.cover" [src]="publication.cover" />
  <div style="margin-top: 0px; font-size: 1.2em; border-top: 1px solid #eee;">

    <ion-button style="border-right: 1px solid #eee;" size="large" color="danger" *ngIf="jaiLike" fill="clear" (click)="unlike()">
      <ion-icon slot="start" name="heart"></ion-icon>
      &nbsp;
      {{publication.likes}}
    </ion-button>
    <ion-button style="border-right: 1px solid #eee;" size="large" color="medium" *ngIf="!jaiLike" fill="clear" (click)="like()">
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      &nbsp;
      {{publication.likes}}
    </ion-button>
    <ion-button style="border-right: 1px solid #eee;" size="large"  color="medium" fill="clear" (click)="ouvrirPublication()">
      <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
      &nbsp;
      {{publication.commentaires ? publication.commentaires.length : 0}}
    </ion-button>
    <ion-button style="border-right: 1px solid #eee;" size="large"  color="medium" fill="clear" (click)="ouvrirPublication()">
      <ion-icon name="share-social-outline"></ion-icon>
    </ion-button>
  </div>
</div>


  <!-- COMMENTAIRES -->
  <ion-item *ngIf="commentaire  && montrerLeDernierCommentaire" (click)="ouvrirPublication()">
    <ion-avatar slot="start">
      <img class="image-muanza"
        [src]="commentaire.utilisateur.photoURL ? commentaire.utilisateur.photoURL: '../../../assets/img/user.png'" />
    </ion-avatar>

    <ion-label text-wrap>
      <h4>
        {{commentaire.utilisateur ? commentaire.utilisateur.displayName : 'Aucun
        utilisateur'}}
      </h4>
      <div>
        {{commentaire.texte}}
      </div>
      <small>
        {{commentaire.date | date: 'dd-MM-yyyy'}} à {{commentaire.date | date:
        'HH:mm'}}
      </small>
    </ion-label>
  </ion-item>