<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="profil">
      {{profil.utilisateur ? profil.utilisateur.displayName: 'Veuillez
      patienter...'}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="profil" class="muanza-image" style="">
    <div class="">
      <img [src]="profil.utilisateur ? profil.utilisateur.photoURL: '../../../../assets/img/user.png'"
        class="muanza-photo" />
    </div>
  </div>
  <div class="info_box">
    <div *ngIf="profil">
      <div class="date_box">
        <b>
          {{publications ? publications.length : 0}}
        </b>
        <p>Posts</p>
      </div>
      <div class="date_box">
        <b>{{profil.abonnes ? profil.abonnes.length : 0}}</b>
        <p>Abonnés</p>
      </div>
      <div class="date_box">
        <b>{{profil.abonnements ? profil.abonnements.length : 0}}</b>
        <p>Abonnements</p>
      </div>
    </div>
    <div style="padding-right: 6vw;">
      <ion-button (click)="unSuivre()" expand="full" *ngIf="sontAmis" shape="round" slot="end">Suivi</ion-button>
      <ion-button (click)="suivre()" expand="full" *ngIf="!sontAmis" shape="round" fill="outline" slot="end">Suivre
      </ion-button>
    </div>
  </div>

  <ion-item lines="none">
    <ion-label>
      <p *ngIf="profil">
        {{ profil.profession }}<br />
        {{ profil.pays }}
      </p>
    </ion-label>
  </ion-item>

  <ion-segment color="medium">
    <ion-segment-button>
      <ion-icon color="primary" name="keypad"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
    <ion-segment-button>
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div>
    <ng-container *ngFor="let publication of publications">
      <ng-container *ngIf="publication.texte">
        <app-publication-item [publication]="publication" [utilisateur]="utilisateur">
        </app-publication-item>
      </ng-container>
    </ng-container>
  </div>
</ion-content>