<ion-tabs #tabs (ionTabsDidChange)="choistab()" *ngIf="!isDesktop">
  <ion-tab-bar>
    <ion-tab-button tab="accueil">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>
    <!--
      <ion-tab-button tab="amis">
      <ion-icon name="people-sharp"></ion-icon>
      <ion-label>Mes Amis</ion-label>
    </ion-tab-button>
    -->
    <ion-tab-button
      tab="notifications"
      class="notification"
      (click)="choistab()"
    >
      <ion-badge class="notification-badge">{{nbrNotification}}</ion-badge>
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-label>Notifications </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recherche">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>Centre d'intérêt</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="messages"
      class="notification"
      (click)="messageNonlus()"
    >
      <ion-badge class="notification-badge">{{msg}}</ion-badge>
      <ion-icon name="chatbox-sharp"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div *ngIf="isDesktop" class="desktop">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <h5>logo Ekang</h5>
        </ion-col>
        <ion-col size="10">
          <div class="navbar" class="ion-text-center">
            <ion-button
              fill="clear"
              routerLink="/tabs/tab1"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
              Tab 1
            </ion-button>
            <ion-button
              fill="clear"
              routerLink="/tabs/tab2"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
              Tab 2
            </ion-button>
            <ion-button
              fill="clear"
              routerLink="/tabs/tab3"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
              Tab 3
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet class="desktop-wrapper"></ion-router-outlet>

  <div class="footer">
    <span>Ekang Osu 2019</span>
  </div>
</div>
