ion-label {
  font-size: 9px;
}

span {
  position: absolute;
}

.notification {
  --overflow: visible;

  ion-badge {
    position: absolute;
    background: #f70b0b;
    border-radius: 50%;
    opacity: 0.9;
    top: 0.1rem;
    left: 1px;
  }
}

.desktop {
  ion-router-outlet {
    margin-top: 56px;
    margin-bottom: 56px;
  }

  .logo {
    max-height: 40px;
  }

  ion-toolbar {
    --background: #374168;
  }

  .link {
    --color: var(--ion-color-light);
  }

  .active-link {
    --color: var(--ion-color-primary);
  }
}

.footer {
  width: 100%;
  color: #fff;
  font-weight: bold;
  background: #374168;
  height: 56px;
  line-height: 56px;
  text-align: center;
  position: fixed;
  bottom: 0px;
}
//commentaires
.notificationimage {
  content: url(../../../assets/custumimage/noti1.png) !important;
  width: 24px;
}
.acceuil {
  content: url(../../../assets/custumimage/acceuil.jpeg) !important;
  width: 24px;
}
.interet {
  content: url(../../../assets/custumimage/Ci1.png) !important;
  width: 24px;
}

.message {
  content: url(../../../assets/custumimage/messages.jpeg) !important;
  width: 24px;
}
