<ion-item>
  <ion-avatar (click)="ouvrir()" slot="start">
    <img class="image-muanza"
      [src]="profil.utilisateur.photoURL ? profil.utilisateur.photoURL: '../../../assets/img/user.png'" />
  </ion-avatar>
  <ion-label (click)="ouvrir()">
    <h2>
      <b>{{profil.utilisateur.displayName}}</b>, 
      {{profil.profession}}
    </h2>
    <h3>
      <span *ngIf="profil.ville">
        {{profil.ville}},
      </span>
      {{profil.pays}}
    </h3>
    <small></small>
  </ion-label>
  <ion-button (click)="unSuivre()" *ngIf="sontAmis" slot="end">Suivi</ion-button>
  <ion-button (click)="suivre()" *ngIf="!sontAmis" fill="outline" slot="end">Suivre</ion-button>
</ion-item>