<ion-content>
  <div style="height: 100vh; width: 100vw; overflow: hidden;">
    <div class="image-arriere"></div>
    <div class="page filtre-noir">
      <div class="titre">
        <span class="animated infinite bounce delay-2s">
          ôssu
        </span>
        <br />
        <span *ngIf="connexionReussie" class="muanza-icone">
          <ion-icon color="primary" name="shield-checkmark-outline"></ion-icon>
        </span>
        <span *ngIf="mauvaisCredentials" class="muanza-icone">
          <ion-icon name="close" color="danger"></ion-icon>
        </span>
      </div>
      <div class="contenu">
        <form [formGroup]="connexionForm" (ngSubmit)="onConnexionFormSubmit()">
          <div class="muanza-row">
            <div class="icone">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <div class="champ">
              <input formControlName="login" type="text" placeholder="Login" />
            </div>
          </div>
          <div class="muanza-row">
            <div class="icone">
              <ion-icon name="lock-closed-outline"></ion-icon>
            </div>
            <div class="champ">
              <input
                formControlName="passe"
                type="password"
                placeholder="Mot de passe"
              />
            </div>
          </div>

          <div class="connexion">
            <button [disabled]="connexionForm.invalid || inactif">
              Connexion
            </button>
          </div>
        </form>

        <div class="infos-oubliees">
          Mot de passe oublié
        </div>
      </div>

      <div (click)="inscription()" class="inscription">
        <span class="color: #777">
          Vous n'avez pas de compte ?
        </span>
        <br />
        <b>
          Inscrivez vous
        </b>
      </div>
    </div>
  </div>
</ion-content>
