<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Publication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="utilisateur && publication">
  <app-publication-item
    [montrerLeDernierCommentaire]="false"
    [publication]="publication"
    [utilisateur]="utilisateur"
  >
  </app-publication-item>

  <ion-item>
    <ion-avatar slot="start">
      <img
        class="image-muanza"
        [src]="utilisateur.photoURL ? utilisateur.photoURL: '../../../assets/img/user.png'"
      />
    </ion-avatar>
    <ion-textarea
      [(ngModel)]="texte"
      placeholder="Ecrire votre réponse ici..."
    ></ion-textarea>
    <h2 (click)="envoyer()">
      <ion-icon name="paper-plane"></ion-icon>
    </h2>
  </ion-item>
  <ion-item *ngFor="let commentaire of commentaires">
    <ion-avatar slot="start">
      <img
        class="image-muanza"
        [src]="commentaire.utilisateur.photoURL ? commentaire.utilisateur.photoURL: '../../../assets/img/user.png'"
      />
    </ion-avatar>

    <ion-label text-wrap>
      <h4>
        {{commentaire.utilisateur ? commentaire.utilisateur.displayName : 'Aucun
        utilisateur'}}
      </h4>
      <div>
        {{commentaire.texte}}
      </div>
      <small>
        {{commentaire.date | date: 'dd-MM-yyyy'}} à {{commentaire.date | date:
        'HH:mm'}}
      </small>
    </ion-label>
  </ion-item>
</ion-content>
