<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">Chats</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let user of amis" (click)="chat(user)">
    <ion-avatar slot="start">
      <img
        [src]="user.utilisateur.photoURL ? user.utilisateur.photoURL: '../../../assets/img/user.png'"
        alt=""
      />
    </ion-avatar>
    <ion-label>
      <div class="flex_box">
        <h3>
          {{ user.utilisateur.displayName ? user.utilisateur.displayName:
          'inconnu'}}
        </h3>
        <ion-note *ngIf="!user.ladate" slot="end"
          >{{user.lastConnexionDate | date}}</ion-note
        >
        <ion-note *ngIf="user.ladate" slot="end"
          >{{user.ladate.toDate() | date}}</ion-note
        >
      </div>
      <p>
        <ion-icon
          *ngIf="user.enligne && user.lastMessage"
          color="primary"
          name="radio-button-on-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="!user.enligne"
          color="danger"
          name="radio-button-on-outline"
        ></ion-icon>

        {{user.lastMessage}}
      </p>
    </ion-label>
  </ion-item>

  <!--

   <ion-list>
    <ion-item class="user-item" *ngFor="let user of amis">
      <div class="user-avatar">
        <img
          [src]="user.utilisateur.photoURL ? user.utilisateur.photoURL: '../../../assets/img/user.png'"
          alt=""
        />
      </div>
      <ion-label class="user-name">
        {{ user.utilisateur.displayName ? user.utilisateur.displayName:
        'inconnu'}}
      </ion-label>
      <div class="user-presence">
        <ion-icon
          [class.user-online]="isOnline(user)"
          name="radio-button-on"
        ></ion-icon>
      </div>
      <div>
        <ion-button
          size="small"
          [routerLink]="['/messages', 'chat', user.utilisateur.uid]"
        >
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
 -->
</ion-content>
