<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header (click)="expandItem()" class="image-card-header">
      <ion-card-title>{{userVille}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-accordion expandHeight="100%" [expanded]="items.expanded">
        <ion-list>
          <ion-item>
            <ion-label color="primary">
              <p (click)="expandItem2()">Afrique</p>
              <ng-container>
                <app-accordion expandHeight="100%" [expanded]="items2.expanded">
                  <ion-list>
                    <ion-item *ngFor="let p of pays">
                      <ion-label color="danger">
                        <p (click)="expandItem3(p)">{{p.name}}</p>
                        <app-accordionpays
                          expandHeight="100%"
                          [expanded]="p.expandedVille"
                        >
                          <ion-list>
                            <ion-item *ngFor="let v of p.ville">
                              <ion-label color="success">
                                <p (click)="closeExpand(v.nom, p)">{{v.nom}}</p>
                              </ion-label>
                            </ion-item>
                          </ion-list>
                        </app-accordionpays>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </app-accordion>
              </ng-container>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary">
              <p>Amerique</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary">
              <p>Asie</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label color="primary">
              <p>Europe</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </app-accordion>
    </ion-card-content>
  </ion-card>
  <div style="margin-left: 5vw; margin-right: 5vw;">
    <ion-select
      (ionChange)="chooseProfession($event)"
      interface="popover"
      placeholder="centre d'intérêt"
    >
      <ion-select-option *ngFor="let pro of listProfesion" [value]="pro.nom"
        >{{ pro.nom }}</ion-select-option
      >
    </ion-select>

    <ion-button
      expand="block"
      fill="outline"
      shape="round"
      color="success"
      *ngIf="userPays || userProfession"
      (click)="findUsers()"
      >Rechercher</ion-button
    >
  </div>
  <ion-list *ngIf="profilsVilles && profilsVilles.length > 0">
    <ion-list-header>
      <ion-label>Dans votre ville</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let profil of profilsVilles">
      <ion-item (click)="voirProfil(profil)">
        <ion-avatar slot="start">
          <img
            class="image-muanza"
            [src]="profil.utilisateur.photoURL ? profil.utilisateur.photoURL: '../../../assets/img/user.png'"
          />
        </ion-avatar>
        <ion-label>
          <h2>{{profil.utilisateur.displayName}}</h2>
          <h3>{{profil.pays}}, {{profil.profession}}</h3>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-list *ngIf="profilsResultats && profilsResultats.length > 0">
    <ion-list-header>
      <ion-label>Résultats</ion-label>
    </ion-list-header>
    <ng-container *ngFor="let profil of profilsResultats">
      <ion-item (click)="voirProfil(profil)">
        <ion-avatar slot="start">
          <img
            class="image-muanza"
            [src]="profil.utilisateur.photoURL ? profil.utilisateur.photoURL: '../../../assets/img/user.png'"
          />
        </ion-avatar>
        <ion-label>
          <h2>{{profil.utilisateur.displayName}}</h2>
          <h3>{{profil.pays}}, {{profil.profession}}</h3>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>

<!--
   <ion-select
      [value]="profil ? profil.pays : ''"
      (ionChange)="chooseCountry($event)"
      interface="popover"
      placeholder="Pays de residence"
    >
      <ion-select-option *ngFor="let p of pays" [value]="p.name">
        {{ p.name }}
      </ion-select-option>
    </ion-select>
-->
